body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url('https://wehco.media.clients.ellingtoncms.com/img/photos/2017/10/30/Screen_Shot_2017-10-30_at_12.57.22_PM_t800.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* set the height to fill the viewport */
    margin: 0; /* remove default margin */
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Set background color to be transparent */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adjust the alpha value here for the box shadow transparency */
    margin-top: 105px;
}

h1 {
    font-size: 24px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.weather-info{
    margin-top: 20px;
}
/* Add more styles as needed */